.container1{

   
    background-image:url('../public/assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top:10%;
    padding-bottom: 10%;
    
    
   



}
#foot{

    background-color: #12436b;
    color: white;
}

#card{
    background-color: rgba(244, 244, 244, 0.247);
}
#work{
    background-image:url('../public/assets/print.png');

}
#faq{
    background-image:url('../public/assets/print.png');

}